/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ecf4c6; 
    color: #333;
    margin: 0;
    padding: 20px;
}

#app {
    max-width: 600px;
    margin: auto;
    background: #fcc29c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

canvas {
    max-width: 100%;
    margin: auto;
}
